@model AutoSpaApi.Models.Categoria

@{
    ViewData["Title"] = "Borrar";
}

<h1>Borrar</h1>

<h3>Estas seguro que deseas borrar esta categoría?</h3>
<div>
    <h4>Categoria</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombreCategoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombreCategoria)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Productosid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Productosid)
        </dd>*@
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a lista de categorías</a>
    </form>
</div>
