@model AutoSpaApi.Models.Categoria

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Categoria</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="nombreCategoria" class="control-label"></label>
                <input asp-for="nombreCategoria" class="form-control" />
                <span asp-validation-for="nombreCategoria" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Productosid" class="control-label"></label>
                <input asp-for="Productosid" class="form-control" />
                <span asp-validation-for="Productosid" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a lista de categorías</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
